@use "../abstracts/variables" as v;

// FaQ Style
.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;

    .faq-item {
        margin-bottom: 12px;
        overflow: hidden;
    }

      .faq-question {
        width: 100%;
        padding: 12px 16px;
        color: v.$black;
        background-color: rgb(243, 243, 243);
        text-align: left;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;

        .icon {
            font-size: 18px;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }
    }

    .faq-answer {
        max-height: 0;
        overflow: hidden;
        background-color: none;
        transition: max-height 0.3s ease;
        padding: 0 16px;
        font-size: 14px;
        line-height: 1.6;

        p {
            margin: 12px 0;
        }
    }

    // Open and Closing FaQ
    /* Open State */
    .faq-item.open .faq-answer {
        max-height: 200px;
        padding: 12px 16px;
    }
    
    .faq-item.open .faq-question .icon {
        transform: rotate(45deg);
    }
}

// Tablet Size
@media screen and (min-width: 768px) {
    #contact-detail {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    #map {
        iframe {
            width: 800px;
        }
        
    }
}
